@{
    ViewData["Title"] = "About us";
}
<!-- Header start -->
<div class="container-fluid pg-header py-5 mb-5 mt-5 wow fadeIn" data-wow-delay="0.1s">

    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown"></h1>

    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 abt2 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="~/assets/images/1 (1).jpeg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="~/assets/images/1 (2).jpeg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end right">
                        <img class="img-fluid" src="~/assets/images/1 (3).jpeg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="~/assets/images/1 (4).jpeg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">
                    A small beginning
                    now set for a big leap.
                </h1>
                <p class="mb-4">
                    Back in 2002, what started as a small school in
                    Bargarh with a student strength of mere 220 as
                    Vikash Group, is now set to raise from the
                    podium to newer heights, in the states of
                    Odisha and Chhattisgarh. Ever since, the
                    evolution of Vikash Educational Group has been
                    organic, steady, and responsive to parents’
                    needs, expectations, and demands. As we are
                    set to take a leap with Krishna’s Vikash Group,
                    we look forward to welcoming your child to be a
                    part of this growth stor
                </p>
                <p>
                    <i class="fa fa-check text-success me-3"></i>Empowering
                    the World of
                    Vibrant Learning.
                </p>
                <p>
                    <i class="fa fa-check text-success me-3"></i>Education that spans a
                    spectrum of careers.
                </p>
                <p>
                    <i class="fa fa-check text-success me-3"></i>Creating a palette
                    of opportunities.
                </p>
                <a class="btn btn-success py-3 px-5 mt-3" href="https://krishnavikash.com/">Learn More</a>
            </div>
        </div>
    </div>
</div>








<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

                <h1 class="mb-4">Why You Should Trust Us? Get to Know About Us!</h1>
                <p>
                    Krishna Vikash has adapted and
                    accepted the implementation of
                    modern systems, adopting latest
                    technologies in teaching methodologies
                    and developments making education a
                    truly global. Preparing new generation
                    students to succeed in this challenging
                    environment demands a flexible and
                    real world based approach to
                    education.
                </p>
                <p class="mb-4">
                    The institutions promoted
                    by the group represent the
                    transformation stage of education
                    globally. This metamorphosis and the
                    learning philosophy practiced at
                    Krishna's Vikash infuses traditional
                    values into a progressive approach,
                    equipping students to become
                    independent, have their feet firmly on
                    the ground, yet adapt and excel in their
                    chosen fields anywhere in the world.
                </p>
                <p><i class="far fa-check-circle text-success me-3"></i>Student development</p>
                <p><i class="far fa-check-circle text-success me-3"></i>Homely Enviornment</p>
                <p><i class="far fa-check-circle text-success me-3"></i>Confidence and self-reliance</p>
                <p><i class="far fa-check-circle text-success me-3"></i>High Success Rate</p>
                <a class="btn btn-success rounded-pill py-3 px-5 mt-3" href="https://krishnavikash.com/">Learn More</a>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="~/assets/images/abt.png" alt="" height="400px" width="400px">
                    <img class="img-fluid rounded w-50 bg-white pr-3 pt-3 pe-3" src="~/assets/images/png (1).png" alt="" style="margin-top: -25%;" height="251px" width="251px">
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Team Start -->
<div class="container-xxl py-5 pb-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1>Our Mentors</h1>
        </div>
        <div class="row g-4 center">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/assets/images/team/ChairmanSir.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Shri. D. Murali Krishna</h5>
                        <p class="text-primary">Chairman</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href="https://www.facebook.com/dasari.muralikrishna.73?mibextid=kFxxJD"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://www.instagram.com/iamdmkrishna?igsh=MXYzOWRxcHl6a3ViMQ=="><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/assets/images/team/VivekSir.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Shri. Vivek Dasari</h5>
                        <p class="text-primary">Managing Director</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href="https://www.facebook.com/vivek.dasari.3?mibextid=kFxxJD"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://www.instagram.com/vivek_dasari?igsh=MTduemFjeXc2eW5qOQ=="><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
<!-- Team End -->