@{
    ViewData["Title"] = "About us";
}
<!-- Header start -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 abt2 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="~/assets/images/gallery/gallery_01.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="~/assets/images/gallery/gallery_01.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end right">
                        <img class="img-fluid" src="~/assets/images/gallery/gallery_01.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="~/assets/images/gallery/gallery_01.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Empowering The World Of Vibrant Learning</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <p><i class="fa fa-check text-success me-3"></i>Tempor erat elitr rebum at clita</p>
                <p><i class="fa fa-check text-success me-3"></i>Aliqu diam amet diam et eos</p>
                <p><i class="fa fa-check text-success me-3"></i>Clita duo justo magna dolore erat amet</p>
                <a class="btn btn-success py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>








<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

                <h1 class="mb-4">Why You Should Trust Us? Get to Know About Us!</h1>
                <p>
                    Krishna Vikash has adapted and
                    accepted the implementation of
                    modern systems, adopting latest
                    technologies in teaching methodologies
                    and developments making education a
                    truly global. Preparing new generation
                    students to succeed in this challenging
                    environment demands a flexible and
                    real world based approach to
                    education.
                </p>
                <p class="mb-4">
                    The institutions promoted
                    by the group represent the
                    transformation stage of education
                    globally. This metamorphosis and the
                    learning philosophy practiced at
                    Krishna's Vikash infuses traditional
                    values into a progressive approach,
                    equipping students to become
                    independent, have their feet firmly on
                    the ground, yet adapt and excel in their
                    chosen fields anywhere in the world.
                </p>
                <p><i class="far fa-check-circle text-success me-3"></i>Student development</p>
                <p><i class="far fa-check-circle text-success me-3"></i>Homely Enviornment</p>
                <p><i class="far fa-check-circle text-success me-3"></i>Confidence and self-reliance</p>
                <p><i class="far fa-check-circle text-success me-3"></i>High Success Rate</p>
                <a class="btn btn-success rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="~/assets/images/abt.png" alt="" height="400px" width="400px">
                    <img class="img-fluid rounded w-50 bg-white pr-3 pt-3 pe-3" src="~/assets/images/png (1).png" alt="" style="margin-top: -25%;" height="251px" width="251px">
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Team Start -->
<div class="container-xxl py-5 pb-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1>Our Mentors</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/assets/images/team/ChairmanSir.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>D.Murali Krishna</h5>
                        <p class="text-primary">Chairman</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/assets/images/team/VivekSir.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Vivek Dasari</h5>
                        <p class="text-primary">Director administration</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/assets/images/team/ChairmanSir.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>D.Murali Krishna</h5>
                        <p class="text-primary">Chairman</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/assets/images/team/VivekSir.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Vivek Dasari</h5>
                        <p class="text-primary">Director administration</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->