@{
    ViewData["Title"] = "Admission Criteria";
}

<div>
    <br><br><br><br><br><br><br><br><br>

    <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" align="left">
        <thead>
            <tr>
                <td s>
                    <b><span>Sr. No. </span></b>
                </td>
                <td>
                    <b><span>Course </span></b>
                </td>
                <td>
                    <b><span>Duration </span></b>
                </td>
                <td>
                    <b><span>Entrance Exam </span></b>
                </td>
                <td>
                    <b><span>Eligibility - Entrance Exam</span></b>
                </td>
                <td>
                    <b><span>Eligibility ( 10 + 2 / Graduation)</span></b>
                </td>
                <td>
                    <b><span>Age Limit </span></b>
                </td>
                <td>
                    <b><span>Counseling Site</span></b>
                </td>
            </tr>
        </thead>
        <tr>
            <td rowspan="2">
                <b><span> 1</span></b>
            </td>
            <td rowspan="2">
                <b><span>D.Pharm </span></b>
            </td>
            <td rowspan="2">
                <span>2 Years<b> </b></span>
            </td>
            <td rowspan="2">
                <b><span>CGPPHT/12<sup>th</sup> </span></b>
            </td>
            <td>
                <span>For General - 10 %</span>
            </td>
            <td>
                <span>For General - Pass in 10+2 with 44.5 % in PCM</span>
            </td>
            <td rowspan="2">
                <b><span>No Age Limit </span></b>
            </td>
            <td rowspan="2">
                <b>
                    <span>
                        <a href="https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23">https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23</a>
                    </span>
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <span>For Reserve - 5 % </span>
            </td>
            <td>
                <span>For Reserve - Pass in 10+2 with 39.5 % in PCM/PCB</span>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b><span> 2</span></b>
                </p>
            </td>
            <td>
                <b><span>B</span></b><span>
                    .Pharm
                    (Practice)
                </span><b><span> </span></b>
            </td>
            <td>
                <span>2 Years<b> </b></span>
            </td>
            <td>
                <b><span> &nbsp; </span></b>
            </td>
            <td>
                <span>
                    D.Pharmacy &amp; Minimum 4 yrs of experience as registered Pharmacist
                </span>
            </td>
            <td>
                <span> &nbsp; </span>
            </td>
            <td>
                <b><span> &nbsp; </span></b>
            </td>
            <td>
                <b>
                    <span>
                        <a href="https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23">https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23</a>
                    </span>
                </b>
            </td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">
                <span>B.Pharm </span>
            </td>
            <td rowspan="2">
                <p align="center">
                    <span>4 Years </span>
                </p>
            </td>
            <td rowspan="2">
                <span>CGPPHT </span>
            </td>
            <td>
                <span>For General - 10 % </span>
            </td>
            <td>
                <span>For General - Pass in 10+2 with 44.5 % in PCM/PCB</span>
            </td>
            <td>
                <span>For General - 30 Years</span>
            </td>
            <td rowspan="2">
                <span>
                    <a href="https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23">https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23</a>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>For Reserve - 5 % </span>
            </td>
            <td>
                <span>For Reserve - Pass in 10+2 with 39.5 % in PCM</span>
            </td>
            <td>
                <span>For Reserve / Female - 33 Years</span>
            </td>
        </tr>
        <tr>
            <td rowspan="2">4</td>
            <td rowspan="2">
                <span>M.Pharm </span>
            </td>
            <td rowspan="2">
                <p align="center">
                    <span>2 Years </span>
                </p>
            </td>
            <td rowspan="2">
                <span>GPAT </span>
            </td>
            <td rowspan="2">
                <span>'+VE score in GPAT </span>
            </td>
            <td>
                <span>For General - Pass in Graduaiton in 49.5%</span>
            </td>
            <td>
                <span>For General - 40 Years</span>
            </td>
            <td rowspan="2">
                <span>
                    <a href="https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23">
                        https://cgdteraipur.cgstate.gov.in/online-counselling-registration-session-2022-23
                    </a>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>For Reserve - Pass in Graduation in 44.5%</span>
            </td>
            <td>
                <span>For Reserve / Female - 43 Years</span>
            </td>
        </tr>
    </table>
</div>