@{
    ViewData["Title"] = "Contact us";
}

<div class="container-fluid pg-header mt-5" data-aos="zoom-in-up" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
 
</div>




<div class="page-nav no-margin row" data-aos="zoom-in" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
    <div class="container">
        <div class="row">
            <ul>
                <li> <a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i> Home</a></li>
                <li style="color:#757575"><i class="fas fa-angle-double-right"></i> Contact</li>
            </ul>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 pt-4" data-aos="fade-up-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                <div class="h-100 bg-light rounded d-flex align-items-center padx">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-map-marker-alt text-primary"></i>
                    </div>
                    <div class="ms-4 ml-2">
                        <p class="mb-2">Visit Our Campus</p>
                        <h5 class="mb-0"> Kvipsr Raipur, Chattisgarh</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-4" data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                <div class="h-100 bg-light rounded d-flex align-items-center padx">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fas fa-phone text-primary"></i>
                    </div>
                    <div class="ms-4 ml-2">
                        <p class="mb-2">Call Us Now</p>
                        <h5 class="mb-0">+012 345 6789</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-4" data-aos="fade-up-left" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                <div class="h-100 bg-light rounded d-flex align-items-center padx">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope text-primary"></i>
                    </div>
                    <div class="ms-4 ml-2">
                        <p class="mb-2">Mail Us Now</p>
                        <h5 class="mb-0">info@example.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn pt-5" data-wow-delay="0.1s">
                <div class="bg-light rounded p-5" data-aos="zoom-in-up" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                    <p class="d-inline-block border rounded-pill py-1 px-4" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">Contact Us</p>
                    <h1 class="mb-4" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">Have Any Query? Please Contact Us!</h1>
                    <p class="mb-4" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">Write your queries and we will try to reach out to you or respond to your Queries ASAP!!!</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" data-aos="fade-right" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn pt-5" data-wow-delay="0.5s">
                <div class="h-100" style="min-height: 400px;">
                    <iframe class="rounded w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1828.9225284974698!2d81.55037239356018!3d21.281105394987172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28e100303db3cb%3A0x9c157b15bc80c1ff!2sKrishna&#39;s%20Vikas%20Group%20of%20Higher%20Education!5e0!3m2!1sen!2sin!4v1710097785070!5m2!1sen!2sin"
                            frameborder="0" allowfullscreen="" aria-hidden="false"
                            tabindex="0" data-aos="zoom-in-up" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
