@{
    ViewData["Title"] = "Courses";
}
<div class="container-fluid pg-header1 py-5 mb-5 mt-1 wow fadeIn" data-wow-delay="0.1s">

    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown"></h1>

    </div>
</div>



<!-- Course Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid  rounded" src="~/assets/images/KVHEI, Raipur.png" alt="" style="width: 135px; height: 91px;">
                    <div class="text-start2 pl-4 ">
                        <h2 class="">B.PHARMACY</h2>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-success me-2"></i>Fees: 40,000₹/- +SCHOLARSHIP <br>&nbsp &nbsp &nbsp OR 72,000₹/-</span>
                        <a href="/contact_us.html" class="bn13 bg-success">Enroll Now</a>

                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Course description</h4>
                    <p>
                        B Pharmacy is a career oriented course which mainly focuses on teaching students about the fundamentals and key details of medicines, drugs, their management and functionality. It is mainly pursued by those willing to open their medical stores or looking for research opportunities.
                        <br><br>
                        Some of the most commonly taught B Pharmacy subjects include Pharmaceutics, Inorganic Medicinal Chemistry, Biochemistry, and Human Anatomy. A collective study of these courses helps in the complete grooming of the students for the pharmacy sector. The core subjects give the main knowledge they need to understand the basics of medicine and research related to it.
                        <h4 class="mb-3">Course Overview</h4>
                        <ul class="list-unstyled lst">
                            <li><i class="fa fa-angle-right text-primary me-2"></i>B Pharmacy equips students with knowledge and skills related to pharmaceutical sciences.</li>
                            <li><i class="fa fa-angle-right text-primary me-2"></i>Core subjects include Pharmacology, Pharmaceuticals, Pharmaceutical Chemistry, and Pharmacognosy.</li>
                            <li><i class="fa fa-angle-right text-primary me-2"></i>It’s a comprehensive program that covers drug formulation, production, distribution, and patient care.</li>
                            <li><i class="fa fa-angle-right text-primary me-2"></i>No. of Semesters: 08.</li>
                        </ul>
                </div>

                <div class="">
                    <h3 class="mb-4">Contact Us To Enroll</h3>
                    <a href="/contact_us.html" class="bn13 bg-success">Enroll Now</a><br><br>
                    <p> OR you can also visit us physically in person to Enroll. We await your warm presence.</p>
                    <p>You can also use the social links provided on the right side of the screen to contact us or to learn more about us.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <h2 class="">Requirements</h2>
                <div class="bg-light rounded p-5 mb-3 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Qualifications</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>45% in 10+2(PCB/PCM)for General Category </p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>40% in 10+2 (PCB/PCM) For Reserve Category (ST/SC/OBC/Divyang)</p>
                </div>
                <div class="bg-light rounded p-5 mb-3 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Entrance Exam Score</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>CGPPHT: 10% Marks for General</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>CGPHT: 5% marks for Reserve Category (ST/SC/OBC/Divyang)</p>
                </div>
                <div class="bg-light rounded p-5 mb-3 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Age</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>30 Years for General </p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>33 Years for Reserve Category (ST/SC/OBC/Divyang)</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>38 Years for PWD (SC/ST/OBC/Females) </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course Detail End -->
