@{
    ViewData["Title"] = "Courses3";
}
<div class="container-fluid pg-header py-5 mb-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb opacity-25 mb-0 brcrm">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>



<!-- Course Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5" data-aos="zoom-in-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="1000">
                    <img class="flex-shrink-0 img-fluid  rounded" src="~/assets/images/KVHEI, Raipur.png" alt="" style="width: 135px; height: 91px;">
                    <div class="text-start2 pl-4 ">
                        <h2 class="">M.PHARMACY(Pharmaceutics)</h2>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-success me-2"></i>Fees: 10,000₹- + SCHOLARSHIP <br>&nbsp &nbsp &nbsp OR 90,000₹/-</span>
                        <a href="/contact_us.html" class="bn13 bg-success">Enroll Now</a>

                    </div>
                </div>

                <div class="mb-5">
                    <div data-aos="fade-right"
                         data-aos-offset="200"
                         data-aos-easing="ease-in-sine">
                        <h4 class="mb-3">Course description</h4>
                        <p>
                            Master Of Pharmacy (MPharm) is a two-year post-graduate program. The course is based on pharmaceutical sciences that deal with the study of drugs and medicines. It enhances student’s theoretical, technical, and practical knowledge in the field of pharmacy and also develops curiosity among the students to carry out further pharmaceutical research.
                            <br><br>
                            To be eligible for MPharm courses, candidates must have passed their BPharm or related course with the required percentage. Some colleges may require candidates to have valid marks in certain entrance exams. Some accepted entrance exams are GPAT, NIPER JEE, AP PGECET and many more.
                    </div><div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
                        <h4 class="mb-3">Course Overview</h4>
                        <ul class="list-unstyled lst">
                            <li><i class="fa fa-angle-right text-primary me-2"></i>M.Pharmacy focuses on analyzing, testing, data interpretation, and research of drugs for the treatment of diseases.</li>
                            <li><i class="fa fa-angle-right text-primary me-2"></i>It caters to individuals seeking senior roles in the pharmaceutical industry.</li>
                            <li><i class="fa fa-angle-right text-primary me-2"></i>The course covers both traditional and modern practices in pharmacy.</li>
                            <li><i class="fa fa-angle-right text-primary me-2"></i>No. of Semesters: 04.</li>
                        </ul>
                    </div>
                </div>

                <div class="" data-aos="zoom-in-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="800">
                    <h3 class="mb-4">Contact Us To Enroll</h3>
                    <a href="/contact_us.html" class="bn13 bg-success">Enroll Now</a><br><br>
                    <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="800">
                        <p> OR you can also visit us physically in person to Enroll. We await your warm presence.</p>
                        <p>You can also use the social links provided on the right side of the screen to contact us or to learn more about us.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div data-aos="zoom-in-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="200" data-aos-duration="1000">
                    <h2 class="">Requirements</h2>
                </div>
                <div class="bg-light rounded p-5 mb-3 wow slideInUp" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="800">
                    <h4 class="mb-4">Qualifications<br>(B.Pharmacy %Marks)</h4>
                    <p data-aos="fade-left" data-aos-delay="200" data-aos-offset="200"><i class="fa fa-angle-right text-primary me-2"></i>55% for General Category</p>
                    <p data-aos="fade-left" data-aos-delay="200" data-aos-offset="200"><i class="fa fa-angle-right text-primary me-2"></i>50% marks for Reserve Category (ST/SC/OBC/Divyang)</p>
                </div>
                <div class="bg-light rounded p-5 mb-3 wow slideInUp" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="800">
                    <h4 class="mb-4">Entrance Exam Score</h4>
                    <p data-aos="fadeleft" data-aos-delay="200" data-aos-offset="200"><i class="fa fa-angle-right text-primary me-2"></i>GPAT: +VE Score</p>
                </div>
                <div class="bg-light rounded p-5 mb-3 wow slideInUp" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-delay="100" data-aos-duration="800">
                    <h4 class="mb-4">Age</h4>
                    <p data-aos="fade-left" data-aos-delay="200" data-aos-offset="200"><i class="fa fa-angle-right text-primary me-2"></i>40 Years for General / 45 PWD-General</p>
                    <p data-aos="fade-left" data-aos-delay="200" data-aos-offset="200"><i class="fa fa-angle-right text-primary me-2"></i>43 Years for Reserve Category (SC/ST/OBC/Females)</p>
                    <p data-aos="fade-left" data-aos-delay="200" data-aos-offset="200">
                        <i class="fa fa-angle-right text-primary me-2"></i>45 Years for PWD (SC/ST/OBC/Females)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course Detail End -->