@{
    ViewData["Title"] = "Home Page";
}

    <!-- ################# Slider Starts Here#######################--->
     <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="~/assets/images/slider/slider-1.jpeg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider-cp">
                                    <h1 class="slider-title">Annual Function 2023</h1>
                                    <p class="slider-text hidden-xs"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="~/assets/images/slider/slider-2.jpeg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-cp">
                                <h1 class="slider-title">Csvtu Annual Sports Event</h1>
                                <p class="slider-text hidden-xs"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="~/assets/images/slider/slider-3.jpeg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-cp">
                                <h1 class="slider-title">Annual Function 2023</h1>
                                <p class="slider-text hidden-xs"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
        <!-- ######################## Gallery display Starts Here #######################--->
    <div class="m-gallery center">
        <a href="gallery.html">
        <div class="container">
            <div class="row key-row">
                <img src="~/assets/images/gallery/gallery_01.jpeg" alt="" height="200px" width="178px" class="img-thumbnail"> 
                <img src="~/assets/images/gallery/gallery_02.jpeg" alt="" height="200px" width="180px" class="img-thumbnail">
                <img src="~/assets/images/gallery/gallery_02.jpeg" alt="" height="200px" width="178px" class="img-thumbnail">
                <img src="~/assets/images/gallery/gallery_03.jpeg" alt="" height="200px" width="178px" class="img-thumbnail">
                <img src="~/assets/images/gallery/gallery_04.jpeg" alt="" height="200px" width="178px" class="img-thumbnail">
                <img src="~/assets/images/gallery/gallery_05.jpeg" alt="" height="200px" width="178px" class="img-thumbnail">
                
                
            </div>
        </div></a>
    </div>



   
<!-- ############################# Offered Cources Starts Here #######################--->
<div class="offered-cources" id="cources">
    <div class="container">
        <div class="session-title row">
            <h2>Our Courses</h2>
        </div>
        <div class="row courc-ro">
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="~/assets/images/cources/cource-1.jpeg" alt="">
                    <div class="cource-nm">
                        <h6>D. Pharmacy</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> KVIPSR <span>-25000</span></li>
                            <li><i class="far fa-calendar-plus"></i> 2024 - 2028</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="~/assets/images/cources/course-2.jpeg" alt="">
                    <div class="cource-nm">
                        <h6>B. Pharmacy</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> KVIPSR <span>-25000</span></li>
                            <li><i class="far fa-calendar-plus"></i> 2024 - 2028</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="~/assets/images/cources/course-3.jpeg" alt="">
                    <div class="cource-nm">
                        <h6>B. Pharmacy (Practice)</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> KVIPSR <span>-25000</span></li>
                            <li><i class="far fa-calendar-plus"></i> 2024 - 2028</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row courc-ro">
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="~/assets/images/cources/course-4.jpeg" alt="">
                    <div class="cource-nm">
                        <h6>M. Pharmacy (Pharmaceutics)</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> KVIPSR <span>-25000</span></li>
                            <li><i class="far fa-calendar-plus"></i> 2024 - 2028</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="~/assets/images/cources/course-5.jpeg" alt="">
                    <div class="cource-nm">
                        <h6>M. Pharmacy (Pharmacology)</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> KVIPSR <span>-25000</span></li>
                            <li><i class="far fa-calendar-plus"></i> 2024 - 2028</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="courc-card">
                    <img src="~/assets/images/cources/course-6.jpeg" alt="">
                    <div class="cource-nm">
                        <h6>Ph. D</h6>
                        <ul>
                            <li><i class="fas fa-graduation-cap"></i> KVIPSR <span>-25000</span></li>
                            <li><i class="far fa-calendar-plus"></i> 2024 - 2028</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
         

        
  <!-- #################### University glimpse Starts Here#######################--->
  <div class="parallax">

    <div class="uni-glimpse">
        <div class="cntr">
            <div class="container">
               <div class="row session-title">
                   <h2>VIKASH GROUP OF INSTITUTIONS</h2>
                   <p>"It was easy to conceive the idea of Vikash. The real challenge was however in giving shape to the idea. The only way to judge our progress has been, is and will
                     continue to be, the overwhelming response of students, parents and well-wishers. I am happy that we are doing our bit for the people of Odisha.<br>
                <i style="display: flex; justify-content: right;">- D.Murali Krishna</i></p>
               </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>6</h3>
                        <span>Locations</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>22</h3>
                        <span>Institutes</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>1000+</h3>
                        <span>Faculties</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>10000+</h3>
                        <span>Students</span>
                    </div>
                </div>
            </div>

        </div>

    </div>     
         
         
        </div> 
          


          


<!---------------------------------------------LOCATION---------------------------------------------------->
<div class="heading-section mt-5 mb-5 ftco-animate col-12">
    <h1 class="text-center"><i class="fas fa-map-marker-alt"></i><br />Location</h1>
</div>
<div class="col-md-12">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1828.9225284974698!2d81.55037239356018!3d21.281105394987172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28e100303db3cb%3A0x9c157b15bc80c1ff!2sKrishna&#39;s%20Vikas%20Group%20of%20Higher%20Education!5e0!3m2!1sen!2sin!4v1710097785070!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- ################# Management Starts Here #######################--->    


<div class="mngment">
    <div class="container">
         <div class="session-title row">
            <h2>Management</h2>
        </div>
        <div class="mngment-row row">
            <div class="col-md-3">
                <div class="mngment-card">
                    <img src="~/assets/images/team/ChairmanSir.jpg" alt="">
                <h6>D.Murali Krishna</h6>
                <p>Chairman</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="mngment-card">
                    <img src="~/assets/images/team/VivekSir.jpg" alt="">
                <h6>Vivek Dasari</h6>
                <p>Director administration</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="mngment-card">
                    <img src="~/assets/images/team/ChairmanSir.jpg" alt="">
                    <h6>D.Murali Krishna</h6>
                    <p>Chairman</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul>
                </div>
            </div>
             <div class="col-md-3">
                <div class="mngment-card">
                    <img src="~/assets/images/team/VivekSir.jpg" alt="">
                    <h6>Vivek Dasari</h6>
                    <p>Director administration</p>
                
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>