@{
    ViewData["Title"] = "Syllabus";
}

<div>
    <br><br><br><br><br><br><br>
    <div>
        <section id="mu-abtus-counter" style="background: none; padding-top: 30px; padding-bottom: 20px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 1<sup>st</sup>
                                Semester &nbsp;&nbsp;
                                <a href="assets/Syllabus/B_Pharmacy_1_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 2<sup>nd</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_2_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 3<sup>rd</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_3_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 4<sup>th</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_4_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 5<sup>th</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_5_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 6<sup>th</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_6_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 7<sup>th</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_7_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy 8<sup>th</sup>
                                Semester &nbsp;&nbsp;
                                <a href="syllabus/2023/B_Pharmacy_8_Sem.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy (Practice) 1<sup>st</sup>
                                Year &nbsp;&nbsp;
                                <a href="syllabus/2023/1_year_B_Pha_Practise.pdf" target="_blank"
                                   style="color: #3fc35f">click here to download</a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> B.Pharmacy (Practice) 2<sup>nd</sup>
                                Year &nbsp;&nbsp;
                                <a href="syllabus/2023/2_year_B_Pha_Practise.pdf" target="_blank"
                                   style="color: #3fc35f">click here to download</a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> D.Pharmacy 1<sup>st</sup>
                                Year &nbsp;&nbsp;
                                <a href="syllabus/2023/1st_Year_D_Pharmacy.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                            <li style="padding-bottom: 20px">
                                <i class="fa fa-download"></i> D.Pharmacy 2<sup>nd</sup>
                                Year &nbsp;&nbsp;
                                <a href="syllabus/2023/2_Year_DPharmacy.pdf" target="_blank" style="color: #3fc35f">
                                    click
                                    here to download
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>